extends ../includes/layout.pug
include ../includes/components/header_poster.pug
include ../includes/components/header_video.pug
include ../includes/components/sentence.pug

block content
  main.Home
    +headerPoster('./img/autoInicio.JPG', 'Volks', '', '')
    
