extends ../includes/layout.pug

block content
    section.container
        h1.header= title

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Correo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su correo">
                <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electr칩nico con nadie m치s.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contrase침a</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contrase침a">
            </div>
            //- <div class="form-group form-check">
            //-     <input type="checkbox" class="form-check-input" id="exampleCheck1">
            //-     <label class="form-check-label" for="exampleCheck1">Check me out</label>
            //- </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>