extends ../includes/layout.pug

block content
    section.container
        h1.header= banana
        nav.nav
            a.nav-link link
            a.nav-link link
            a.nav-link link
            a.nav-link link
            button.btn.btn-primary Guardar
