mixin headerPoster(image, title, subtitle, extra)
  article.Poster.u-firstContent(style=`background-image: url(${image});`)
    div.Poster--opacity
      h2.Poster-title
        span= title
        br
        span.
          !{subtitle}
